<section id="faq">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-justify">
                <h2 class="section-heading text-center">Вопросы и ответы</h2>
                <hr class="primary">

<p>Q: А где будет проходить Школа?<br>
A: В гостинице <a href="http://www.new-peterhof.com/">«Новый Петергоф»</a> в Петергофе, ближайшем пригороде Санкт-Петербурга. Участники школы проживают в 2- и 3-местных номерах, оснащенных всем необходимым (в том числе Wi-Fi).</p>
<p>Q: Я отправил незаконченную анкету. Что теперь делать?<br>
A: Ничего страшного, просто заполните и отправьте анкету еще раз.
<p>Q: Я не из России. Могу ли я участвовать в школе?<br>
A: Да, рабочий язык школы - русский, участвовать могут граждане других стран, если они владеют русским.
<p>Q: Оплачивается ли дорога до Петербурга и обратно, если я прошёл конкурс?<br>
A: Да, оплачивается из любой точки страны. Наш администратор связывается с вами и обговаривает детали покупки билета. Не забудьте посадочный купон или корешок авиабилета, они нужны для отчётности.</p>
<p>Q: Можно ли приехать на несколько дней раньше или уехать позже?<br>
A: Это возможно, но обсуждается отдельно. Для этого нужно написать нам электронное письмо после оглашения результатов конкурса. Если вы решите остаться в Петербурге еще на несколько дней или приехать раньше начала Школы, мы всё равно оплатим билеты. Имейте в виду, что мы обеспечиваем проживание только во время Школы.</p>
<p>Q: А оплачивается ли проживание и питание?<br>
A: Да, при условии, что вы прошли конкурс.</p>
<p>Q: Можно ли приехать за свой счёт, если я не прошёл по конкурсу?<br>
A: Такая возможность есть. Если вы не прошли конкурс, но хотите приехать за свой счёт, напишите нам об этом после объявления результатов конкурса.<p>


            </div>
        </div>
    </div>
</section>

