<section id="task" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-justify">
                <h2 class="section-heading text-center">Отборочное задание</h2>
                <hr class="primary">
<p><b>Задача 1.</b> На рисунке ниже представлено помесячное количество дел, которое принимали к рассмотрению российские арбитражные суды в 2009-2019 гг., согласно данным Картотеки арбитражных дел. На этом графике можно увидеть одно качественное изменение. Опишите, когда, на ваш взгляд, это изменение произошло, подробно обосновав вашу точку зрения. (При нажатии на рисунок он откроется в крупном виде.)
<p>
</p>
<center>
<a href="/img/2020/arbitrazh.png"><img src="/img/2020/arbitrazh.png" vspace="20" style='width:98%;' border="0"></a>
<!--
<img src="/img/2019/kazakhstan_1.png" vspace="20" style='width:80%;' border="0">
<img src="/img/2019/kazakhstan_2.png" style='width:80%;' border="0">
-->
</center>
<br>
<p><b>Задача 2.</b> На рисунке ниже вы можете наблюдать частотное географическое распределение зарегистрированных преступлений, предусмотренных определённой статьёй Уголовного Кодекса РФ. Обоснованно предположите, о каких преступлениях идет речь. (При нажатии на рисунок он откроется в крупном виде. Можно также посмотреть на <a href="/img/2020/crime_large.png">более детализированную версию</a> рисунка)</p>
<center>
<a href="/img/2020/crime.png"><img src="/img/2020/crime.png" vspace="20" style='width:98%;' border="0"></a>
</center>
<br> 
<p><b>Задача 3.</b> Считается, что в ходе внеплановой проверки проще обнаружить нарушения, потому что проверяемые не успевают подготовиться и «спрятать» нарушения. Однако в России контрольно-надзорные органы фиксируют хотя бы одно нарушение в 80% плановых проверок и только в 50% внеплановых (см. рисунок ниже, <a href="https://enforce.spb.ru/images/analytical_review/irl_reform_results.pdf">источник</a>). Попытайтесь объяснить этот видимый парадокс работы российских контрольных ведомств.</p>
<center>
<a href="/img/2020/proverki.png"><img src="/img/2020/proverki.png" vspace="20" style='width:98%;' border="0"></a>
</center>
<br>
<p><b>Задача 4.</b> 15 сентября 2009 года Президиум ВАС РФ в постановлении №7802/09 установил, что у предпринимателя, не имеющего наемных работников, отсутствует обязанность ежегодно до 1 марта предоставлять в Пенсионный фонд сведения индивидуального учета. Это существенным образом изменило структуру нагрузки на арбитражные суды в последующие годы. Как изменилась структура нагрузки и чем это было вызвано?</p>
<br>

                <h2 class="section-heading text-center">Как выполнять отборочное задание?</h2>
                <hr class="primary">
<p>Отнеситесь к отборочному заданию как к эссе в свободном формате. Идеальное решение отборочного задания должно быть развёрнутым рассуждением, содержащим интерпретацию (ваше понимание) задания, вашу позицию, аргументацию и вывод. Аргументация не должна строиться исключительно на логических предположениях и отсылках к законодательству, а должна отсылать к существующим исследованиям, подходам и данным, поэтому в вашем ответе должно быть хотя бы несколько ссылок на литературу. Замечательно, если у вас получится рассказать, что по этому поводу уже говорили и писали. Особенно ценно, если вы попробуете самостоятельно найти и проанализировать данные, которые подтвердят вашу позицию. Такими данными может быть криминальная и судебная статистика, результаты опросов общественного мнения или что-то еще.</p>
<p>Как искать существующие исследования? Обычно это делают через библиографические системы, такие, как Google Scholar, Web of Science или JSTOR. Последние две, к сожалению, платные и требуют подписки, которая есть у многих университетов России и мира. Многие полезные статьи с исследованиями и обзорами написаны на английском языке. Читать их может быть сложнее, но зачастую они интереснее и более содержательно насыщенны, чем статьи на русском языке.</p>
<p>Итак, для выполнения отборочного задания нужно выбрать любые две задачи из списка выше, для каждой из них дать развёрнутый ответ, и каждый ответ должен быть размером до 1000 слов. Удачи!</p>

            </div>
        </div>
    </div>
    </div>
</section>
